.nav-bar {
  width: 100%;
}

.nav-bar ul {
  list-style: none;
}

.nav-bar li {
  width: 100%;
  text-align: center;
  background-color: lightblue;
  border: 3px darkcyan outset;
}

.nav-link {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  transition-duration: 0.5;
}

.nav-link:hover {
  background-color: lightskyblue;
}

/**=================================================== 
   MOBILE VIEW : 0px to 600px
   ===================================================*/
@media only screen and (max-width: 600px) {
}

/**===================================================
   TABLET POTRAIT VIEW : 601px and greater
   ===================================================*/
@media only screen and (min-width: 601px) {
  .nav-bar li {
    width: 25%;
    display: block;
    float: left;
  }

  .nav-bar::after {
    clear: both;
    content: "";
    display: table;
  }
}

/**===================================================
   TABLET LANDSCAPE & DESKTOP VIEW : 901px and greater
   ===================================================*/
@media only screen and (min-width: 901px) {
  form.facilityForm > fieldset {
    flex: 1 1 44%;
    margin: 0 0.4em;
  }
}
